* {
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.header {
    color: white;
    background-color: #1F2937;
}

.hero > p {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    padding-left: 150px;
    padding-right: 150px; 
}


ul {
    display: flex;
    flex: auto;
    gap: 30px;
    justify-content: flex-end;
    
    
}

li {
    list-style-type: none;
}

li,
.subtext {
    font-size: 18px;
    color: #E5E7EB;

}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8; 
    margin-bottom: 0;
}

.awesome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 150px;
    
}

.inline {
    display: flex;
    padding-right: 150px;
    margin-top: 100px;
}

.house {
    margin-top: 55px;
    margin-bottom: 80px;
    padding-left: 40px;
    max-width: 400px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    border-radius: 6px;
    padding: 8px 20px;
}

.random {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.photo-line {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.box {
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 150px; 
    width: 150px;
    margin-bottom: 20px;
   
}

.icon {
display: flex;
flex-direction: column;
max-width: 156px;
margin: 20px;
align-items: center;
}

.inspiration {
    background-color: #E5E7EB;
    padding:100px 200px;
    
}

.text2 {
    font-size: 36px; 
    color: #1F2937;
    font-style: italic;
}

.name {
    text-align: end;
    font-weight: 800;
    font-size: 18px;
}

.blue {
    background-color: #3882F6;
    max-width: 800px;
    display: flex;
    justify-content: center;
    padding: 75px;
    margin: auto;

}

